.widgets-container {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.widget {
  //   width: calc(100% / 2 - 32px);
  flex: 0 0 calc(100% / 2 - 24px);
  height: 600px;
  //   max-height: 600px;
}

.widget-block {
  flex: 0 0 100%;
  height: 300px;
}

.widget-light {
  @extend .widget;
  border-top: 5px solid #96694c;
}

.widget-dark {
  @extend .widget;
  border-top: 5px solid #f3cc62;
}

.pending-subject-widget {
  height: 480px;
  //   max-height: 450px;
  overflow-y: auto;
}

.org-chart-widget {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.shortcuts-widget {
  padding: 32px;
  display: flex;
  gap: 15vw;
  align-items: center;
  justify-content: center;
}
