.subject-card-container {
  display: flex;
  justify-content: space-between;
  gap: 0 16px;
  height: 100%;
  width: 100%;
  margin-top: 8px;
}

.subject-card {
  height: 260px;
  width: 100%;
  flex: 0 0 calc(100% / 3 - 16px);
}

.subject-card-tall {
  @extend .subject-card;
  height: 320px;
}

.completion-rate-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40px;
  //   margin-bottom: 16px;
}

.users-assigned-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.top-fields-container {
  display: flex;
  justify-content: space-between;
  gap: 0 16px;
}

.top-fields-inputs {
  flex: 0 0 calc((100% / 6) * 5 - 8px);
}

.top-fields-subject-type {
  flex: 0 0 calc((100% / 6) - 16px);
}
