.steps-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0 16px;
  height: 100%;
  width: 100%;
}

.steps-sidebar {
  flex: 0 0 calc(100% / 3 - 16px);
}

.steps-editor {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc((100% / 3) * 2 - 16px);
  gap: 16px;
}

.steps-list-item {
  border-radius: 8px;
}

.steps-list-item-light {
  @extend .steps-list-item;
  background-color: #f0f0f0;
}

.steps-list-item-dark {
  @extend .steps-list-item;
  background-color: #424242;
}
